@layer reset {
  :root {
    --clr-dark: oklch(0.13 0.08 261.18 / 1);
    --clr-light: oklch(0.97 0.006 261.18 / 1);
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    display: grid;
    margin: 0;
    place-items: center;
    font:
      16px / 1.5 Helvetica,
      sans-serif;
    background-color: var(--clr-dark);
    overflow: clip;
  }

  @media (prefers-color-scheme: light) {
    body {
      background-color: var(--clr-light);
    }
  }
}

.credits {
  position: fixed;
  inset: auto 0 0 auto;
  background-color: inherit;
  color: var(--clr-light);
  margin: 0;
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;

  a {
    color: inherit;
  }
}
